{% extends 'base.html.twig' %}

{% block title %}Admin - Editer un produit
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>Edition d'article.</h1>
		<div>
			<a href="{{ path('admin_products_crud_list') }}">Retour à la liste des articles.</a>
		</div>
		{{ form(form) }}
		</div>
	{% endblock %}
